<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.example.SignupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

</web-app>
