<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
</head>
<body>
  <header>
    <h1>banbury</h1>
    <nav>
      <ul>
        <a href="/home.html">Home</a>
        <a href="/signup.html">Signup</a>
        <a href="/upload.html">Upload</a>
        <a href="/download.html">Download</a>
        <a href="/nodeslist.html">Nodes</a>
        <a href="/file.html">Files</a>
      </ul>
    </nav>
  </header>
  <main>
    <h2>{{.Title}}</h2>
    <p>Welcome to Athena, the next form of Artificial General Intelligence</p>
    <h3>Devices</h3>
    <p>Number of Devices Online: <span id="nodesOnline"></span></p>
    <p>Connected Devices:</p>
    <p><span id="online-nodes"></span></p>
    <table>
      <thead>
        <tr>
          <th>Device Name Name</th>
          <th>Storage Space</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="nodes-list"></tbody>
    </table>
    <button onclick="disconnectPeers()">Disconnect All Devices</button>
    <button onclick="">Rename Device</button>
    <button onclick="">Connect Device</button>
    <button onclick="">Sync Device</button>

    <h3>Files</h3>
    <p>Uploaded Files:</p>
    <p><span id="file-name"></span></p>
    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>File Size</th>
          <th>Priority</th>
          <th>Date Uploaded</th>
          <th>Download</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id="files-list"></tbody>
    </table>
    <h3>Upload File</h3>
    <p>Priority level:
      <select name="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </p>
      <label for="file">File: </label>
      <input type="file" name="file-name" id="file" required>
      <button onclick="upload()">Upload</button>
  </main>
  <footer>
    <p>2023 Banbury Enterprises</p>
  </footer>
  <script>
    function updateNodesOnline() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("nodesOnline").textContent = this.responseText;
        }
      };
      xhr.open("GET", "/countpeers", true);
      xhr.send();
    }

    function updateListofNodes() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("online-nodes").innerHTML = this.responseText;
          document.getElementById("nodes-list").innerHTML = this.responseText;
        }
      };
      xhr.open("GET", "/listpeers", true);
      xhr.send();
    }

    function updateListofFiles() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          document.getElementById("file-name").innerHTML = this.responseText;
          document.getElementById("files-list").innerHTML = this.responseText;
        }
      };
      xhr.open("GET", "/listfiles", true);
      xhr.send();
    }

    function disconnectPeers() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          console.log("Disconnected all peers");
        }
      };
      xhr.open("POST", "/disconnect", true);
      xhr.send();
    }

    function upload() {
      var fileInput = document.getElementById('file');
  var file = fileInput.files[0];
  var fileNameInput = document.getElementById('file-name');
  var fileName = fileNameInput.value;
//  var prioritySelect = document.getElementById('priority');
//  var priority = prioritySelect.value;

  var formData = new FormData();
  formData.append('file', file);
  formData.append('file-name', fileName);
//  formData.append('priority', priority);

  var request = new XMLHttpRequest();
  request.open('POST', '/upload');
  request.onload = function() {
    if (request.status === 200) {
      // Success, handle the response if needed
    } else {
      // Error, handle the error if needed
    }
  };
  request.send(formData);
}

    // Initial page load
    window.onload = function() {
      // Update nodes online
      updateNodesOnline();

      // Request list of nodes
      updateListofNodes();

      // Request list of files
      updateListofFiles();
    };

    // Poll for updates
    setInterval(updateNodesOnline, 1000);
    setInterval(updateListofNodes, 1000);
    setInterval(updateListofFiles, 1000);
  </script>
</body>
</html>
