<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Download File</title>
  </head>
  <body>
    <header>
      <h1></h1>
      <nav>
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/signup.html">Signup</a></li>
          <li><a href="/upload.html">Upload</a></li>
          <li><a href="/download.html">Download</a></li>
          <li><a href="/nodeslist.html">Nodes</a></li>
          <li><a href="/file.html">Files</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>{{.Title}}</h2>
      <p>This is where you can download a file</p>
      <form method="GET" action="/download">
        <div>
          <label for="cid">CID:</label>
          <input type="text" name="cid" id="cid" required>
        </div>
        <button type="submit">Download</button>
      </form>
      {{if .Message}}
        <p>{{.Message}}</p>
      {{end}}
    </main>
    <footer>
      <p>&copy; 2023 Banbury Enterprises</p>
    </footer>
    <script src="{{.Static}}/js/main.js"></script>
  </body>
</html>
