<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Upload File</title>
  </head>
  <body>
    <header>
      <h1></h1>
      <nav>
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/signup.html">Signup</a></li>
          <li><a href="/upload.html">Upload</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>{{.Title}}</h2>
      <p>This is where you can upload a file</p>
      <form method="POST" enctype="multipart/form-data" action="/upload">
        <div>
          <label for="file">File:</label>
          <input type="file" name="file" id="file" required>
        </div>
        <button type="submit">Upload</button>
      </form>
      {{if .Message}}
        <p>{{.Message}}</p>
      {{end}}
    </main>
    <footer>
      <p>&copy; 2023 Banbury Enterprises</p>
    </footer>
    <script src="{{.Static}}/js/main.js"></script>
  </body>
</html>